.calendar{
    // display: flex;
    // justify-content: center;
    // outline: 1px solid orange;

    color: var(--main-color);
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 16px;
    padding: 0.25rem 1rem 0.25rem 1rem;

    &-header{
        // border: 1px solid green;

        display: flex;
        max-width: 75%;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;

        .center{
            display: flex;
            align-items: center;

            .monthName{
                font-size: 25px;
                font-weight: 400;
            }
        }

        .previous,
        .next{
            text-align: center;
            margin: 0;
            font-size: 25px;
            visibility: visible;


            &.invisible{
                visibility: hidden;
            }
        }
    }
    .calendar-card-body {
      // border: 1px solid blue;


        .monthName{
            text-align: center;
            margin: 0;
            padding: 0.25rem 0;
            font-size: 25px;
            font-weight: 400;
        }

        .calendar-table-row{
          display: flex;
          justify-content: space-between;
          margin-bottom: 8px;

          &.today{
            color: red;
          }

          &.day-names{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0.5rem;
            
            .week-day{
                color: var(--font-color);
                font-size: clamp(16px, 18px, 21px);
                
                &.today{
                  color: red;
                }
            }
          }

          .calendar-day{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            font-size: clamp(18px, 20px, 22px);

            &.empty{
              color: var(--secondary-font-color);
            }
    
            &.today{
              color: red;
            }
            &:not(.empty){
              text-align: center;
              // border: 1px solid red;

              .number{
                font-size: clamp(18px, 20px, 22px);
                font-weight: 300;
                margin: 0;
                padding: 0;
      
                  &:hover {
                  background-color: var(--link-color-hover);
                  color: var(--link-color-active);
                  cursor: pointer;
                  
                  &.today{
                    color: red;
                  }
                }
              }
            }
          }
        }
      
    }
  }