.main{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    color: var(--font-color);
    text-align: center;
    

    .date{
        font-weight: 400;
        margin-bottom: 0;
    }
    .msg{
        font-size: larger;
    }
}

.subtitle{
    color: var(--font-color);
    font-size: 16px;
    margin: 0;
}

.prompt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    .row{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .title{
        color: var(--font-color);
        text-align: center;
        font-size: x-large;
        font-weight: 300;
    }
  
    .firstHabitLink{
        text-decoration: underline;
        color:rgb(70, 151, 221);
    }
  }
  

.weeklyRow{
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem 2rem;

    li {
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(97% / 7);
        justify-content: center;
        padding: 0.75rem 0.5rem;
        color: var(--font-color);

        &.today{
            background-color: rgba(255, 255, 255, 0.279);
        }

        .day{
            margin: 0;
            font-size: 18px;
        }
        .date{
            margin: 0;
            font-size: 18px;
        }
    }
}

.listContainer{
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habitsList{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 12px;
}

.listToggle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem;
}   

.listToggle{
    background-color: var(--secondary-color);
    border-radius: 7px;
    padding: 0.25rem;
    max-width: 75%;

    .inProgress{
        margin: 0;
        color: var(--font-color);
        padding: 0.75rem 0.75rem;
        border-radius: 6px;
        &.active{
            background-color: var(--secondary-font-color);
        }
    }
    .completed{
        margin: 0;
        color: var(--font-color);
        padding: 0.75rem 0.75rem;
        border-radius: 6px;
        &.active{
            background-color: var(--secondary-font-color);
        }
    }
}

.subtitle{
    font-size: x-large;
    font-weight: 350;
    margin: 1rem 0 0.5rem 1.5rem;
}


// When the device width is 768px and above (larger than tablets in portrait)
@media (min-width: 768px){
    .main{
        margin: 2em 2em 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .weeklyRow{
        li{
            width: calc(60% / 7);

            .day{
                margin: 0;
                font-size: 22px;
            }
            .date{
                margin: 0;
                font-size: 20px;
            }
        }
    }
}