.main{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.title{
    text-align: center;
    .date{
        font-weight: 400;
        margin-bottom: 0;
    }
    .msg{
        font-size: 18px;
    }
}

.weeklyRow{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 1rem;

    li {
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;

        &.today{
            background-color: rgba(255, 255, 255, 0.279);
        }

        .day{
            margin: 0;
            font-size: 20px;
        }
        .date{
            margin: 0;
            font-size: 20px;
        }
    }
}

.listContainer{
    padding-bottom: 5rem;
}

.habitsList{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 12px;
    grid-column-gap: 5rem;
}

.listToggle{
    display: flex;
    align-items: center;
    justify-content: center;
}