.main{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.habits{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    
    .card{
        display: flex;
        width: 100vw;
        align-items: center;
        border-radius: 20px;
        padding: 0.5rem;

        .title{
            font-size: 30px;
            font-weight: 400;
        }
    }

    .iconContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(2);
    }
}


.title{
    margin-top: 1em;
    font-size: xx-large;
    font-weight: 300;
    text-align: center;
    color: var(--font-color);
}

.prompt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .row{
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    .title{
        color: var(--font-color);
        text-align: center;
        font-size: x-large;
        font-weight: 300;
    }
  
    .firstHabitLink{
        text-decoration: underline;
        color:rgb(70, 151, 221);
    }
}
  