.container {
    display: block;
    background-color: var(--app-bg);
    position: fixed;
    bottom: 0;
    width: 100vw;
    
    .navList {
        margin: 0;
        padding: 10px 0px;
        
        .navbar {
            margin: 0;
            padding: 0;

            .iconList {
                display: flex;
                justify-content: space-around;
                margin: 0;
                padding: 0;
                
                .icons {
                    margin: 0;
                    padding: 5px;
                    list-style-type: none;
                    color: var(--nav-icons);
                    
                    .icon {
                    font-size: 25px;
                    
                        &:hover {
                            color: #fb3958;
                        }

                        &.active {
                            color: red;
                        }
                    }
                }
            }
    }
    }
}