$card-width: 400px;
$card-padding: 40px;

.container{
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top{
    display: flex;
    align-items: center;
    margin-bottom: 5rem;

    .title{
        font-size: xx-large;
        font-weight: 300;
        text-align: center;
        color: var(--font-color);
    }
    .backBtnContainer{
        position: absolute;
        left: 0;
        margin-left: 2.75em;
        transform: scale(1.75);
        color: var(--font-color);
    }
}

.register-box {
    width: 90vw;
    padding: 2em 1em 1em;
    // background: rgba(0, 0, 0, 0.451);
    background: rgba(116, 116, 116, 0.451);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.247);
    border-radius: 10px;

    
    h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }
    
    .input-box {
        position: relative;
    }
}

.register-box .input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.register-box .input-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.register-box .input-box input:valid ~ label,
.register-box .input-box input:focus ~ label {
    color: #03e9f4;
    transform: translateY(-20px) scale(.75); 
    transform-origin: left;
}

.register-box form a.submit {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: calc(($card-width / 4)) ;
    letter-spacing: 4px;

    &:hover {
        background: #03e9f4;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 100px #03e9f4;
    }
}

.register-box p{
    text-align: center;
    
    a:hover{
        color: #03e9f4;
    }
}