.container{
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    padding: 1em;
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;

    .title{
        font-size: xx-large;
        font-weight: 300;
        text-align: center;
        color: var(--font-color);
    }
}

.backBtnContainer{
    position: absolute;
    left: 0;
    margin-left: 2.75em;
    transform: scale(1.75);
    color: var(--font-color);
}

.list{
    color: var(--font-color);

    .item{
        // border: 1px solid red;
        border-bottom: 1px solid var(--secondary-color);
        display: grid;
        grid-template-columns: 1fr 3fr 0.3fr;
        align-items: center;
        padding: 0.25rem 0.5rem;
        
        &:nth-child(1){
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        &:nth-child(6){
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        .label{
            font-size: large;
        }

        .icon{
            transform: translate3d(2rem, 0, 0) scale(1.75);
        }

        .rarr{
            transform: translate3d(-1rem, 0, 0) scale(1.25);
        }

    }
    
}

// Account

.account{

    input{
        height: 3em;
        border: none;
        border-radius: 5px;
        padding-left: 1em;
    }

    .email_label{
        color: var(--font-color);
    }
    
    &.row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: baseline;
        grid-gap: 10px;
        margin-bottom: 1rem;

        .inputCol{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            color: var(--font-color);
        }
    }
}

.change_pwd{
    margin: 2rem 1rem 1rem;
    text-decoration: underline;
    color: rgb(75, 164, 224);
}


.account_save{
    margin: 1rem;
    padding: 0.5rem 0.2rem;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgb(106, 180, 106);
}

// Appearance

.appearance{

}

// About

.about{
    color: var(--font-color);
    .version{
        margin-bottom: 0;
    }

    .author{
        font-size: large;
    }

    .feedback{
        margin-bottom: 4px;
    }
    .feedback_link{
        color: rgb(47, 118, 232);
        text-decoration: underline;
        margin-top: 0;
    }

    .copyright{
        .title{
            color: var(--font-color);
            font-size: large;
            font-weight: 400;
        }

        .desc{
            color: var(--secondary-font-color);
        }

    }
}


// Help

.help{

    .faq{
        .title{
            color: var(--font-color);
            font-size: larger;
            font-weight: 400;
            margin-left: 0.5em;
        }

        .question{
            color: var(--font-color);
            font-size: large;
            font-weight: 400;
            margin-left: 1em;
        }

        .answer{
            font-size: medium;
            font-weight: 400;
            color: var(--secondary-font-color);
            margin-left: 1em;
        }
    }


    .support{
        .title{
            color: var(--font-color);
            font-size: larger;
            font-weight: 400;
            margin-left: 0.5em;
        }
        .subtitle{
            color: var(--secondary-font-color);
            margin-left: 0.5em;
            font-size: medium;
            font-weight: 300;
            margin-left: 1em;
        }
        .email{
            text-decoration: underline;
            color:rgb(47, 118, 232);
            margin-left: 1em;
        }
    }
}

.forgot_password,
.change_password{
    .inputCol{
        color: var(--font-color);
        display: flex;
        flex-direction: column;
        margin: 1rem 3rem;
    }
    .inputRow{
        display: flex;
        justify-content: space-between;
    }
    .submit{
        text-align: center;
    }
    .errors{
        .title{
            font-size: large;
            color: rgb(239, 44, 44);
            margin: 0.25rem;
        }
        .error{
            color: rgb(239, 44, 44);
            margin-left: 5%;
        }
    }
}

.forgot_password{
    color: var(--font-color);

    .desc{
        margin: 0 0.5rem 0.5rem;
    }

    input{
        height: 2rem;
        text-indent: 0.5rem;
        line-height: 1.4em;
        font-size: medium;
    }

    .inputContainer{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .submitContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .submit{
            padding: 0.5rem 1rem;
            background: var(--secondary-color);
            border: none;
            border-radius: 6px;
            font-size: medium
        }
    }
}