main.container{
    margin: 0;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
}


.backBtn{
    transform: scale(2);
	cursor: pointer;
}

.moreBtn{
    transform: scale(1.75);
}

.pageTitle{
	font-weight: 300;
	font-size: clamp(28px, 30px, 34px);
	margin: 0 0 0.25rem 0;
	// text-align: center;
}

.schedule{
    display: inline-flex;
    align-items: center;
    font-weight: 300;
    font-size: 15px;
    margin: 0;
    color: var(--secondary-font-color);

    .repeatIcon{
        margin: 0 0.25rem 0 0;
    }
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 1rem 0;
    color: var(--font-color);

    .backBtnContainer{
        display: flex;
    }
}

hr.line{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid var(--secondary-color);
	margin: 1em 0.25em;
	padding: 0;
}

.details{
	display: grid;
	grid-template-columns: 2fr 1fr;

	.infoCol{
		margin: 0.25em 0.5em;
	}

	.progressCol{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		.progress{
			font-size: medium;
			text-align: center;
			color: var(--secondary-font-color);
			margin: 0.5rem 0 0 0;
			padding: 0;
		}
	}

	.description{
		color: var(--secondary-font-color);
		font-size: medium;
		font-weight: 300;
	}
	.target{
		color: var(--secondary-font-color);
		font-size: medium;
		font-weight: 300;
		margin: 0.25em 0;
	}
}

.statsRow{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
	
	.stat{
		// display: flex;
		// flex-direction: column;
		// align-items: center;
		// justify-content: center;
		.name{
			color: var(--secondary-font-color);
			margin: 0;
		}
		.value{
			margin: 0.5rem 0 0 0;
		}
	}
}

.graphTitle{
	font-size: x-large;
	font-weight: 400;
	color: var(--secondary-font-color);
	margin: 0;
	padding: 0 0.8rem;
}

.graphContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.calendarContainer  {
	transform: scale(0.95);	
}

.tab-container {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 95vw;
}

.tabs {
	display: flex;
	position: relative;
	transform: scale(0.55);
	background-color: var(--app-bg);
	box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
	padding: 0.75rem;
	border-radius: 99px; // just a high number to create pill effect
	* {
		z-index: 2;
	}
}

input.radio {
	display: none;
}

.tab {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 54px;
	width: 200px;
	font-size: 1.25rem;
	font-weight: 500;
	border-radius: 99px; // just a high number to create pill effect
	cursor: pointer;
	transition: color 0.15s ease-in;
	color: var(--secondary-font-color);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input.radio {
	&:checked {
		& + label {
			color: var(--font-color);
		}
	}
}

input[id="radio-1"] {
	&:checked {
		& ~ .glider {
			transform: translateX(0);
		}
	}
}

input[id="radio-2"] {
	&:checked {
		& ~ .glider {
			transform: translateX(100%);
		}
	}
}

input[id="radio-3"] {
	&:checked {
		& ~ .glider {
			transform: translateX(200%);
		}
	}
}

.glider {
	position: absolute;
	display: flex;
	height: 54px;
	width: 200px;
	background-color: var(--secondary-color);
	z-index: 1;
	border-radius: 99px; // just a high number to create pill effect
	transition: 0.25s ease-out;
}


// When the device width is 768px and above (larger than tablets in portrait)
@media (min-width: 768px){
    main.container{
        margin: 0;
        padding: 2rem 20vw;
    }

	.tabs {
		transform: scale(0.65);
		margin: 1em;
	}
	.calendarContainer  {

	}
}