.card{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    border-radius: 12px;
}

.title{
    font-size: clamp(20px, 22px, 25px);
    font-weight: 400;
    margin: 0.25em 0 ;
}

.desc{
  margin: 0;
  font-size: clamp(15px, 16px, 18px);;
}

.iconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
    width: 96vw;
    height: 100px;
    color: white;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background-color: var(--card-color);
  }

  .container.expand { 
    animation: slide 0.5s forwards;
  }

  // .container.shrink { 
  //   animation: shrink 0.5s forwards;
  // }
  
  
  @keyframes slide
  {
    from {height: 100px;}
    to {height: 60vh;}
  }

  @keyframes shrink
  {
    from {height: 60vh;}
    to {height: 100px;}
  }


  
  .container p {
    opacity: 0.6;
  }
  
  .container h3 {
    font-weight: 600;
    font-size: 15px;
  }
  
  .upper {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;

    col{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  }
  
  .lower {
    padding: 4px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;


    .goal{
      font-size: 25px;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 1rem;
    }
    
    .row{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }

    .col{
      display: flex;
      flex-direction: column;
    }

    .submit{
      margin: 1rem;
      padding: 0.75rem;
      border: none;
      border-radius: 25px;
      font-size: 20px;
      background-color: rgb(133, 133, 133);
      opacity: 1;
    }

    .plus,
    .minus{
      display:inline-block;
      position:relative;
      text-align: center;
      border: 1px solid gray;
      border-radius: 100%;
      background-color: rgb(133, 133, 133);
      opacity: 1;
      height: 3rem;
      width: 3rem;
      font-size: 36px;
      margin: 0;
      font-weight: 300;
    }
  }
  
  .lower h4 {
    margin-top: 40px;
    font-size: 14px;
    color: #2999f5;
  }
  
  // div.expand {
  //   max-height: 60vh;
  // }

  .close-btn{
    cursor: pointer;
    font-size: 2.25rem;
    font-family: serif;
    line-height: 1;
    justify-self: center;
    overflow: hidden;
    vertical-align: middle;
    transform: rotate(45deg);
    transition: transform .25s;

    &.open{
        content: "\d7";
        transform: rotate(90deg);
    }
}
.close-btn:before{
	content: "\d7";
}

.circleBackground,
.circleProgress {
    fill: none;
}

.circleBackground{
    stroke: var(--progress-stroke);
}

.circleProgress {
    // stroke: red;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.circleText {
    font-size: 1em;
    font-weight: bold;
    fill: red;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

// .group{
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }